@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

.div__header{
    display: flex;
    justify-content: center;
}

.div__header-h{
    padding-right: 100px;
    width: 200px;
}

.div__header-p{
    padding-top: 15px;
    padding-right: 100px;
}

.div__header-img{
    width: 20px;
    height: 20px;
    padding-left: 100px ;
    padding-right: 10px;
    padding-top: 30px;
}

.div__header-img2{
    width: 20px;
    height: 20px;
    padding-top: 30px;
}


body{
    font-family:'Readex Pro', sans-serif;
}

.main{
    height: 1500px;
}

.div__main-header{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.div__main-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div__main-1_1{
    display: flex;  
    flex-direction: column;
    height: 700px;
    padding-right: 50px;
}

.div__main-1_2{
    display: flex;  
    flex-direction: row;
    height: 500px;
}

.div__main-1_laptop{
    width: 400px;
    height: 330px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.div__main-1_watch{
    width: 400px;
    height: 330px;
    margin-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.div__main-1_phone{
    height: 700px;
    margin-right: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;

}

.div__main-1_tablet{
    height: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.div__main-1_phone-img{
    padding-top: 100px;
    padding-bottom: 50px;
}

.div__main-1_tablet-img{
    padding-top: 100px;
}

.div__main-1_laptop-img{
    width: 80%;
}

.div__main-1-laptops_p1{
    margin: 0;
    font-size: 20px;
}

.div__main-1-laptops_p2{
    margin: 0;
    font-size: 30px;
}

.div__main-1_p1{
    margin: 0;
    font-size: 20px;
}

.div__main-1-watch_p2{
    margin: 0;
    font-size: 30px;
}

.div__main-1_p2{
    margin: 0;
    font-size: 30px;
}

.div__main-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 680px;
    margin-top: 50px;
}

.div__main-2_2{
    display: flex;
    flex-direction: row;
}

.div__main-2_1-1{
    display: flex;
    flex-direction: row;
}

.div__main-2_1-cap{
    height: 310px;
    width: 350px;
    margin-right: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    text-align: center;
}

.div__main-1-cap_p2{
    margin: 0;
    font-size: 30px;
}

.div__main-1-cap_p1{
    margin: 0;
    font-size: 20px;
}

.div__main-2_1-bag{
    height: 350px;
    margin-right: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    text-align: center;

}

.div__main-1-bag_p2{
    margin: 0;
    font-size: 30px;
}

.div__main-1-bag_p1{
    margin: 0;
    font-size: 20px;
}

.div__main-2_1-1{
    display: flex;
    flex-direction: column;
}

.div__main-2_2-shoes{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 710px;
    width: 350px;
    margin-left: 50px;
    text-align: center;
}

.div__main-1-shoes_p1{
    margin: 0;
    font-size: 20px;
}

.div__main-1-shoes_p2{
    margin: 0;
    font-size: 30px;
}

.div__main-2_2-clothes{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 710px;
    width: 310px;
    text-align: center;
}

.div__main-1-clothes_p1{
    margin: 0;
    font-size: 20px;
}

.div__main-1-clothes_p2{
    margin: 0;
    font-size: 30px;
}


.div__main-2_2-img{
    height: 47%;
    width: 90%;
    padding-left: 15px;
}

.div__main-1-2_p1{
    padding-left: 220px;
    margin: 0;
    font-size: 10px;
}

.div__main-1-2_p2{
    padding-left: 210px;
    margin: 0;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.div__footer-1{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.div__footer-2{
    width: 200px;
}

.div__footer-3{
    padding-right: 50px;
}

@media (min-width: 1200px){

}

@media (min-width: 768px) and (max-width: 1199px) {
    .header{
        width: 768px;
    }
    .main{
        width: 768px;
        height: auto;
    }
    .div__main-1{
        display: flex;
        flex-wrap: wrap;
    }
    .div__main-1_1{
        display: flex;
        flex-direction: row;
        height: 380px;
    }
    .div__main-1_2{
        display: flex;
        height: 750px;
    }
    .div__main-1_watch{
        margin: 0;
        margin-left: 50px;
    }
    .div__main-2{
        display: flex;
        flex-wrap: wrap;
        height: 1100px;
        margin: 0;
    }
    .div__main-2_1{
        display: flex;
        flex-direction: row;
    }
    .footer{
        font-size: small;
        margin: 0;
        margin-top: 50px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header{
        padding: 0;
        width: 320px;
    }
    .div__header-h{
        padding: 0;
    }
    .div__header-p{
        padding: 0;
    }
    .div__header-img, .div__header-img2{
        padding: 0;
    }
    .main{
        margin: auto;
        height: auto;
    }
    .div__main-header{
        width: 300px;
        margin: auto;
    }
    .div__main{
        margin: auto;
        width: 320px;
        height: auto;
    }
    .div__main-1_1{
        padding: 0;
    }
    .div__main-1, .div__main-1_2{
        margin: auto;
        flex-wrap: wrap;
        height: auto;
    }

    .div__main-2, .div__main-2_2{
        margin: auto;
        flex-wrap: wrap;
        height: auto;
    }
    .div__main-2{
        margin-top: 50px;
    }
    .footer{
        margin: auto;
        height: auto;
        width: 320px;
        flex-wrap: wrap;
    }
    .div__footer-3{
        padding-right: 0;
        width: 200px;
    }
    .div__main-1_laptop, .div__main-1_watch{
        width: 320px;
        margin: auto;
        margin: 0;
        margin-top: 50px;
    }
    .div__main-1_phone, .div__main-1_tablet{
        width: 320px;
        margin: auto;
        margin-top: 50px;
    }
    .div__main-2_1-cap, .div__main-2_1-bag{
        width: 320px;
        margin: auto;
        margin-top: 50px;
    }
    .div__main-2_2-clothes, .div__main-2_2-shoes{
        width: 320px;
        margin: auto;
        margin-top: 50px;
        height: 750px;
    }
    .div__main-2_2-shoes-img{
        width: 320px;
    }
}
